/*================================
=            Variable            =
================================*/

$primary  : #1269b1;  // Синий
$secondary: #ec7319;  // Оранжевый
$third    : #000;     // Темный var1: #1E252B
$fourth   : #fff;
$five     : #add3f2;

$error  : $third;
$success: $fourth;

$border_1: 1px solid $primary;
$border_2: 2px solid $primary;
$border_3: 3px solid $primary;

$base-duration: 0.3s;
$base-timing  : 0.3s;


/*----------  Circles  ----------*/
$circleWidth: 62vh;

/*=====  End of Variable  ======*/

/*=============================
=            Media            =
=============================*/

$neat-grid: (
    columns: 6,
    gutter: 0
);

$imac27: 2560px;
$imac21: 1920px;
$cinema: 1680px;
$pad_g : 1024px;
$pad_v : 768px;
$mobile: 570px;

$XXLarge: (media: "(min-width: #{$imac21})");

$XLarge: (media: "(min-width: #{$cinema}) and (max-width: #{$imac21})");

$Large: (media: "(min-width: #{$pad_g}) and (max-width: #{$cinema})");

$Medium: (media: "(max-width: #{$pad_g})");

$XSmall: (media: "(max-width: #{$pad_v})");

$Small: (media: "(max-width: #{$mobile})");

$HSmall: (media: "(max-height: 420px)");

/*=====  End of Media  ======*/

/*=============================
=            Fonts            =
=============================*/

@include font-face (
    "PF Din Text Cond Pro",
    "fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 400;
}

@include font-face (
    "PF Din Text Cond Pro Medium",
    "fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 400;
}

@include font-face (
    "PF Din Text Cond Pro Light",
    "fonts/PFDinTextCondPro-Light/PFDinTextCondPro-Light",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 200;
}

@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$primary-font: 'Verdana', sans-serif;
$heading-font: "PF Din Text Cond Pro Medium";
$heading-font-light: "PF Din Text Cond Pro";

$body-font-color:   lighten(#000, 20%);

$body-font-size:        1rem !default;
$body-font-weight:      normal !default;
$body-line-height:      1.4 !default;
$heading-line-height:   1 !default;

$bourbon: (
    "modular-scale-base": $body-font-size,
    "modular-scale-ratio": $minor-third,
);

$font-size-base:    $body-font-size !default;
$font-size-large:   $font-size-base + 0.2 !default; // ~18px
$font-size-small:   $font-size-base - 0.2 !default; // ~14px

$font-size-h1:      4vw !default; // ~3rem 48px modular-scale(6)
$font-size-h2:      2.5vw !default; // ~2.5rem 40px modular-scale(5)
$font-size-h3:      modular-scale(4) !default; // ~2rem 33px
$font-size-h4:      modular-scale(3) !default; // ~1.728rem 28px
$font-size-h5:      modular-scale(2) !default; // ~1.44rem 23px
$font-size-h6:      modular-scale(1) !default; // ~1.2rem 19px

%px {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
    line-height: $body-line-height;
    color: $body-font-color;
    //text-indent: 1rem;

    @include grid-media($XXLarge) {
        font-size: modular-scale(3);
    }

    @include grid-media($XLarge) {
        font-size: $font-size-large;
    }

    @include grid-media($Medium) {
        font-size: $font-size-large;
    }

    @include grid-media($XSmall) {
        font-size: $font-size-large;
    }

    @include grid-media($Small) {
        font-size: $font-size-large;
    }
}

%hx {
    font: {
        family: $heading-font;
        weight: 400;
    };
    //letter-spacing: 0.04em;
    line-height: $heading-line-height;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/*=====  End of Fonts  ======*/


/*==============================
=            Layout            =
==============================*/

// %scrollbar_body {
//     &::-webkit-scrollbar-track {
//         background-color: transparent;
//     }

//     &::-webkit-scrollbar {
//         width: 6px;
//         background: transparent;

//         // &::window-inactive {

//         // }

//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: lighten($secondary, 60%);

//         &:window-inactive {
//             background-color: #fff;
//         }
//     }
// }

// %scrollbar_sidebar {
//     &::-webkit-scrollbar-track {
//         background-color: transparent;
//     }

//     &::-webkit-scrollbar {
//         width: 4px;
//         background: transparent;

//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: lighten($secondary, 70%);
//         //border: 2px solid #555555;

//         &:window-inactive {
//             opacity: 0;
//         }
//     }
// }

body {
    min-height: 100vh;
    @extend %px;
    margin: 0;
    // cursor: none;
    //background-color: #000;
    // @extend %scrollbar_body;
}

h1 {
    @extend %hx;
    font-size: $font-size-h1;
    color: $secondary;
    //margin-bottom: 1em;
    //text-align: center;
    //transition: all .3s;
}

h2 {
    @extend %hx;
    font-size: $font-size-h2;
    color: $secondary;
}

h3 {
    @extend %hx;
    font-size: $font-size-h3;
    color: $secondary;
}

h4 {
    @extend %hx;
    font-size: $font-size-h4;
    color: $secondary;
}

h5 {
    @extend %hx;
    font-size: $font-size-h5;
    color: $secondary;
}

h6 {
    @extend %hx;
    font-size: $font-size-h6;
    color: $secondary;
}

.large-text {
    font-size: $font-size-large;
}

.small-text {
    font-size: $font-size-small;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

        @include grid-media($Medium) {
            font-size: $font-size-large;
        }
    }
}

a {
    color: $primary;
    text-decoration: none;
    transition: color $base-duration;
    outline: none;
    // cursor: none;

    // &:active,
    // &:focus,
    // &:hover {
    //     //color: $action-color;
    // }
}

svg {
    transition: all 0.6s;
    overflow: inherit;
}
/*=====  End of Layout  ======*/

