.wrapper-design {
	width: 80%;
	min-height: 100vh;
	position: relative;
	padding-right: 20%;
	overflow: hidden;
}

.design {

	&-content {
		width: 100%;
		min-height: 100vh;
		float: left;
		position: relative;

		&__content {
			position: absolute;
		}

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	&-sidebar {
		width: 20%;
		min-height: 100vh;
		position: fixed;
		right: 0;
		top: 0;


		&__content {
			width: calc(100% - 2rem);
			position: absolute;
			padding: 1rem;

			p {
				text-align: left;
			}
		}
	}
}