/*==============================
=            Header            =
==============================*/

.header {
	width: 100%;
	height: 6rem;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9995;

	&-phones {
		width: calc(20% - 3rem);
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 3rem;
		float: left;

		&__phone {
			height: 30%;
			display: flex;
			align-items: center;
			font: {
				family: $heading-font;
				size: $font-size-large;
			};
		}
	}

	&__logo {
		width: 20%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 60%;
			height: auto;
		}
	}

	&-social {
		width: calc(20% - 3rem);
		height: 100%;
		padding-right: 3rem;

		ul {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;

			li {
				width: 15%;
				display: flex;
				justify-content: center;

				i {
					font-size: $font-size-large + 0.2;
				}
			}
		}
	}
}

/*=====  End of Header  ======*/