/*==============================
=            Layout            =
==============================*/

.wrapper {
	min-height: 100vh;
	display: block;
	position: relative;
	// margin-bottom: calc(300px + 4rem);
	//transition: all .3s;
	// animation: fadeIn 0.6s ease-in-out;
	// box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
	z-index: 2;

	&-error {
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&__number {
			width: 40%;
			min-height: 30vh;
			position: relative;

			svg {
				width: 100%;
				height: auto;
				stroke: lighten($secondary, 70%);
				stroke-width: 5;
				fill: none;
				padding: 1rem;
				transition-duration: 0.3s;
			}
		}

		&__text {
			width: 100%;
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;

			h2 {
				font-size: $font-size-h1;
				animation: fadeIn 3s ease-in-out;
				//animation-delay: 2s;
			}
		}

		&__button {
			width: 100%;
			min-height: 60px;
			display: flex;
			justify-content: center;
			left: 0;
			top: 15vh;
			position: absolute;

			.button-back {
				width: 60px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 1px solid $primary;
				background-color: #fff;
				overflow: hidden;
				transition: background-color 0.3s cubic-bezier(.4,0,.2,1);

				&::after {
					content: '';
					//width: 100%;
					//height: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					background-color: $primary;
					z-index: 1;
					//box-sizing: border-box;
					transition: transform 0.45s cubic-bezier(.4,0,.2,1) 75ms;
					transform: scaleX(0);
					transform-origin: center right;
				}

				svg {
					fill: none;
					stroke: $primary;
					stroke-width: 6;
					z-index: 10;
					transition: all 0.3s;
				}

				&:hover {

					svg {
						stroke: #fff;
						transform: translateX(-5px);
					}

					&::after {
						transform: scaleX(1);
						transition-delay: 0s;
					}
				}
			}
		}
	}

	@include grid-media($Medium) {
		//padding: 6rem 1rem 0;
	}

	@include grid-media($XSmall) {

		&_news {
			padding-right: 0;
		}
	}

	@include grid-media($Small) {
		//padding: 0 1rem;
	}
}

.filled {
	fill: $primary;
}

canvas {
	position: fixed !important;
	top: 0px;
	left: 0px;
	z-index: -10;
}

.background {
	width: 100%;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	// background-color: #add3f2;

	&-mask {
		width: 100%;
		height: 50vh;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $fourth;
		z-index: 1;
	}

	&-bubbles {
		width: 100%;
		height: 100%;
		display: block;
		position: fixed;
		overflow: hidden;
		bottom: 0;
		right: 0;
		z-index: 0;
	}

	&-back {
		width: 100%;
		height: 100vh;
		display: block;
		top: 0;
		left: 0;
		background-color: #add3f2;
		position: fixed;
		z-index: -2;
	}
}

.bubble {
	background-color: lighten($five, 10%);
	// background: radial-gradient(33% 33%,circle,rgb(72.588%,98.858%,100%) 0,rgb(0%,77.23%,80.588%) 100%);
	border-radius: 50%;
	border: 1px solid rgba(68.588%,98.691%,100%,.88);
	opacity: .5;
	position: absolute;
	z-index: -1;

	&:before {
		content: '';
		width: 90%;
		height: 90%;
		left: 5%;
		position: absolute;
		top: 1%;
		// filter: blur(1%);
		// background: radial-gradient(40% 0,circle,#fff 0,rgba(255,255,255,0) 58%);
		border-radius:50%;
		// filter: blur(1%);filter:"progid: DXImageTransform.Microsoft.Blur(PixelRadius='3')";
		// filter: url(#blur);
		z-index: -1;
	}
}



/*=====  End of Layout  ======*/

/*==================================
=            Arrow Down            =
==================================*/

.arrow-down {
	width: 26px;
	height: 40px;
	display: block;
	//background-color: $secondary;
	border: 2px solid $primary;
	border-radius: 20px;
	//border-top-left-radius: 25px;
	//border-top-right-radius: 25px;
	position: absolute;
	margin: 0 auto 0 -15px;
	left: 50%;
	bottom: 20px;
	padding-top: 5px;
	animation: fadeIn 1.4s ease-in-out;

	// &:hover {
	// 	//border-color: lighten(@brand-primary, 25%);
	// }

	svg {
		margin: -3px 0 0 1px;
		animation: down 0.6s ease-out alternate;
		animation-iteration-count: infinite;

		line, polyline {
			stroke: $primary;
		}
	}

	@include grid-media($Small) {
		visibility: hidden;
	}
}

@keyframes down {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(4px);
	}
}

/*=====  End of Arrow Down  ======*/

/*==============================
=            Cursor            =
==============================*/

.cursor {
	pointer-events: none;
	z-index: 9996;

	&__ball {
		position: fixed;
		top: 0;
		left: 0;
		mix-blend-mode: difference;
		z-index: 9996;

		circle {
			fill: $fourth;
		}
	}
}

/*=====  End of Cursor  ======*/