/*===============================
=            Section            =
===============================*/

.section {
	width: 100%;
	height: 100vh;
	position: relative;

	&-container {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		overflow: hidden;
		z-index: 100;

		&--clear,
		&--humidifer {
			display: none;
			visibility: hidden;
		}

		&__buttonUp {
			width: 3rem;
			height: 3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			position: fixed;
			top: 6rem;
			left: 50%;
			background-color: $primary;
			border-radius: 50%;
			transform: translateX(-50%);
			transition: transform 0.3s;
			z-index: 9996;

			&:hover {
				transform: translate(-50%, -5%);
			}
		}
	}

	&-intro {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		position: fixed;
		z-index: 100;
		// display: none;
		// visibility: hidden;

		&__water {
			width: 100%;
			height: 100vh;
			left: 0;
			top: 0;
			position: absolute;
			// background: linear-gradient(to top, $five 0%, $five 10%, $fourth 35%, $fourth 65%, $five 90%, $five 100%);
			background-image: url('images/akvalife_back_water.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			z-index: 2;
		}

		&__title {
			width: 100%;
			height: 50vh;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 0;
			top: 0;

			h2 {
				font-size: $font-size-h1 + 2;
				color: $five;
				text-transform: uppercase;
				text-align: center;
			}
		}

		&__items {
			width: 100%;
			height: 30vh;
			display: flex;
			flex-direction: row;
			// justify-content: space-around;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 5;
		}

		.items {

			&__clear,
			&__humidifer {
				width: 50%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				// overflow: hidden;
				position: fixed;

				&:hover {

					.items__button {
						transform: translate(0, -75%);

						svg {
							filter: drop-shadow(0 0.3rem 0.15rem rgba($primary, 0.7));
							transform: scale(1.03);
						}
					}
				}
			}

			&__button {
				width: 13rem;
				min-height: 5rem;
				position: absolute;
				// left: 50%;
				// top: 0;
				transform: translate(0, -80%);
				transition: transform 0.6s;
				// cursor: pointer;

				span {
					width: 100%;
					font: {
						family: $heading-font-light;
						size: $font-size-base;
					};
					line-height: 1.2;
					color: $fourth;
					text-transform: uppercase;
					text-align: center;
					position: absolute;
					left: 50%;
					transform: translate(-50%, 30%);
				}

				svg {
					width: 13rem;
					height: auto;
					position: absolute;

					path {
						fill: $primary;
						stroke: $fourth;
						stroke-width: 0.3rem;
					}
				}
			}

			&__clear {
				left: 0;
				bottom: -70%;

				img {
					width: 80%;
					height: auto;
					transition: transform 0.6s;
					// cursor: pointer;
				}

				&:hover {

					img {
						transform: translateY(-2%);
					}
				}
			}

			&__humidifer {
				right: 0;
				bottom: -70%;

				img {
					width: 100%;
					height: auto;
					transform: translateY(7%);
					transition: transform 0.6s;
					// cursor: pointer;
				}

				&:hover {

					img {
						transform: translateY(5%);
					}
				}
			}
		}
	}

	// &-clear {

	// 	&-info {
	// 		// display: none;
	// 		// visibility: hidden;
	// 		// background-color: $primary;
	// 	}

	// 	&-data {
	// 		// display: none;
	// 		// visibility: hidden;
	// 		// background-color: $five;
	// 	}
	// }

	// &-humidifer {

	// 	&-info {
	// 		// display: none;
	// 		// visibility: hidden;
	// 	}

	// 	&-data {
	// 		// display: none;
	// 		// visibility: hidden;
	// 	}
	// }

	&-certificate {
		// display: none;
		// visibility: hidden;
		position: relative;
		display: block;
		// background-color: $primary;
	}

	&__circle {
		width: 40vh;
		height: 40vh;
		position: fixed;
		left: 50%;
		top: 50%;
		border-radius: 50%;
		background-color: $primary;
		transform: translate(-50%, -50%);
		z-index: 10;
		display: none;
	}
}

.circles {
	width: 50%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 1;

	&__clear {
		position: fixed;
		left: 48%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: none;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__clear--1 {
		width: $circleWidth;
		height: $circleWidth;
	}

	&__clear--2 {
		width: $circleWidth + 20;
		height: $circleWidth + 20;
	}

	&__clear--3 {
		width: $circleWidth + 40;
		height: $circleWidth + 40;
	}

	&__clear--4 {
		width: $circleWidth + 60;
		height: $circleWidth + 60;
	}

	svg {

		circle {
			stroke-width: 0.2rem;
			stroke: $five;
			fill: none;
		}
	}
}

.is-hidden {
	display: none;
	visibility: hidden;
}

/*=====  End of Section  ======*/