// body {
//     background-color: $secondary;
// }

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &--stopper {
        background-image: url('images/acrbuild_stopper.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.center-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'PF Din Text Cond Pro Medium';
    font-size: $font-size-h1;
    text-align: center;
    color: #1269b1;
    margin-top: 2rem;
    animation: fadeIn 2s;
}

p {
    display: block;
    margin: 1rem auto 0;
    text-align: center;
    color: #1269b1;
    animation: fadeIn 2s;
}

img {
    width: 50%;
    height: auto;
}

/*===============================
=            Counter            =
===============================*/

.counter {
    text-align: center;
}

ul {
    margin-bottom: 4em;
    padding: 0;
}

.chart {
    display: inline-block;
    width: 95px;
    height: 95px;
    margin: 0 10px;
    vertical-align: top;
    position: relative;
    padding-top: 22px;
    font-family: 'PlumbBoldC';
    font-size: 1em;
    color: #ffb819;
}

.chart span {
    display: block;
    font-size: 2em;
    font-weight: normal;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

/*=====  End of Counter  ======*/